name: Docker Image CI

on:
  push:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - name: Docker Login
      uses: docker/login-action@v3.7.0
      with:
        # Username used to log against the Docker registry
        username: rasmus256docker
        # Password or personal access token used to log against the Docker registry
        password: ${{ secrets.DOCKERHUB_PASSWORD }}

    - uses: docker/build-push-action@v6
      with:
        file: mainservice/Dockerfile
        context: ./mainservice
        push: true
        tags: |
          rasmus256docker/cakeotron:${{github.run_number}}

    - uses: docker/build-push-action@v6
      with:
        file: dateservice/Dockerfile
        context: ./dateservice
        push: true
        tags: |
          rasmus256docker/cakeotron-dateservice:${{github.run_number}}
    - uses: docker/build-push-action@v6
      with:
        file: servicemesh-test/a/Dockerfile
        context: ./servicemesh-test/a
        push: true
        tags: |
          rasmus256docker/servicemesh-test-a:${{github.run_number}}
    - uses: docker/build-push-action@v6
      with:
        file: servicemesh-test/b/Dockerfile
        context: ./servicemesh-test/b
        push: true
        tags: |
          rasmus256docker/servicemesh-test-b:${{github.run_number}}
    - uses: docker/build-push-action@v6
      with:
        file: servicemesh-test/c/Dockerfile
        context: ./servicemesh-test/c
        push: true
        tags: |
          rasmus256docker/servicemesh-test-c:${{github.run_number}}
